# FORCED PATH SEPARATOR FOR WINDOWS (semicolon) AND LINUX (colon)
COMPOSE_PATH_SEPARATOR=:

# TIMEZONE
TZ=Europe/Paris

# UNCOMMENT AND COMMENT THE LINES BELOW FOR PRODUCTION OR DEVELOPMENT MODE

# # PORT FOR SERVICE FOR FRONTEND VITE(5173 INTERN, FRONTEND_PORT ON HOST) DEV
# FRONTEND_PORT=5173
# COMPOSE_FILE=docker-compose.yml:compose.dev.yml

# PORT FOR SERVICE FOR FRONTEND NGINX(8080 ON HOST, 80 IN CONTAINER) PROD
FRONTEND_PORT=8080
COMPOSE_FILE=docker-compose.yml

# POSTGRES SETUP
POSTGRES_PASSWORD=crm_demo_password
POSTGRES_PORT=5432
POSTGRES_DB=crm_demo
POSTGRES_USER=crm_demo_user

